.datatable {
  &-col-id {
    display: none;
  }

  &-col-actions {
    .button + .button {
      margin-left: 8px;
    }
  }

  &-actions {
    .button + .button {
      margin-left: 8px;
    }
  }
}
